body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;

}
html,body {
	margin:0;
	padding:0;
	height: 100%; 
   	background:#09C;
}
body{
	color:#000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
 
}
 
header{
	line-height: 24px;
	font-size: 11px;
	background: rgba(211, 211, 228, 0.8);
	height:25px;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
header a:hover{
	background: #8e89ff;
}
header span.right{
	float: right;
}
header span.right a{
	float: left;
	display: block;
}
article{
	width:1200px;
	margin:0px auto;
	text-align:center;
}	
article .frame{				/* to hide the extra space */
	width:610px;
	height:690px;
	margin:0 auto;
	overflow:hidden;
 
}
H1, H3, H4, H5, H6 {
	font-weight : bold;
	font-size: 46px;
	color: #FFF;
	font-family: 'PT Serif '
}
	 
  